* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid red;
    align-items: center;
    position: fixed;
}

h1 {
    border: solid red;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
}

.menuButton {
    border: solid black;
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 2px 0;
    transition: 0.4s;
    border: solid red;
  }

.mainContent {
    display: grid;
    grid-template-rows: 6fr;
    grid-template-columns: 6fr;  
    height: 100%;
  }

  aside {
    border: solid red;
    width: fit-content;
    grid-column: 3/span 1;
    height: 100vh;
  }

  .menuContents {
      margin-top: 9vh;
      padding: 70px;
      border: solid red;
  }

  .dateandpic {
      margin: auto;
  }

  footer {
    border: solid red;
  }

  