body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background:#efe6f2
}

header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    position: fixed;
}

h1 {
    color: white;
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
    font-family: futura;
}

.menuButton {
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
    color: white;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 2px 0;
    background-color: white;
  }

.button {
    display: flex;
    overflow: hidden;
}

.mainContent {
    display: grid;
    grid-template-rows: 6fr;
    grid-template-columns: 6fr;  
    height: 100%;
  }

  aside {
    background-color: black;
    width: fit-content;
    grid-column: 3/span 1;
    height: 100vh;
  }

  .menuContents {
    position: fixed;  
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 75px;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-family: futura;
    overflow: hidden;

  }

  .buttons {
    margin-top: 200px;  
    border: solid red;
  }

  .dateandpic {
      margin: auto;
  }

  