body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#F3B5A7, #A7DBF3);
}

header {
    height: 5vh;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    position: absolute;
    border-bottom: 1px solid #F2EDE8;
}

.menuButton {
    align-items: flex-end;
    height: fit-content;
    width: fit-content;
    color: #444241;
    margin-right: 50px;
}

/* .menuButton:hover {
    color: #F2EDE8;
} */


aside {
    height: 95vh;
    width: 300px;
    position: absolute;
    right: 0px;
    border-left: 1px solid #F2EDE8;
    display: none;
    margin-top: 50px
}

button {
    margin-top: 250px;
    position: fixed;
    width: 300px;
    font-family: futura, sans-serif;
    font-size: 12px;
    padding: 1px;
    background-color: #F2EDE8;
    border: none
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 2px 0;
    background-color: #444241;
    border-radius: 25px;

  }  

.apod {
    position: fixed;
    margin-top: 5%;
    min-width: 50%;
    min-height: 50%;
}

h1, h2, p {
    font-family: futura, sans-serif;
}

h2 {
    color: #F2EDE8;
}

h1, p {
    color: #444241;
}

p, .visuals {
    width: 400px;
    padding: 30px
}

.flexbox {
    display: flex;
}

@media screen and (max-width: 800px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }
  }
